In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from statsmodels.graphics.gofplots import qqplot
from matplotlib import pyplot
from google.colab import drive
drive.mount('/content/drive/')

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Mounted at /content/drive/

In [ ]:
path = "drive/Shared drives/BANA CAPSTONE/Final data preps/"
overallDf = pd.read_excel(path+'Customer Insights Data.xlsx', sheet_name='Overall Satisfaction')

overallDf

,Location,Survey Answers,Response Count,Response Share %,% of NP Respondents
0,Bridgestone Arena,Highly Satisfied,100,0.243961,0.243309
1,Bridgestone Arena,Satisfied,56,0.135266,0.136253
2,Bridgestone Arena,Neither Satisfied nor Dissatisfied,9,0.021739,0.021898
3,Bridgestone Arena,Dissatisfied,5,0.012077,0.012165
4,Bridgestone Arena,Highly Dissatisfied,1,0.002415,0.002433
5,PETCO Park,Satisfied,38,0.091787,0.092457
6,PETCO Park,Highly Satisfied,34,0.082126,0.082725
7,PETCO Park,Neither Satisfied nor Dissatisfied,8,0.019324,0.019465
8,PETCO Park,Highly Dissatisfied,3,0.007246,0.007299
9,PETCO Park,Dissatisfied,1,0.002415,0.002433
10,MetLife Stadium,Highly Satisfied,46,0.115942,0.111922
11,MetLife Stadium,Satisfied,27,0.065217,0.065693
12,MetLife Stadium,Neither Satisfied nor Dissatisfied,5,0.012077,0.012165
13,TD Garden,Satisfied,21,0.050725,0.051095
14,TD Garden,Highly Satisfied,18,0.043478,0.043796
15,TD Garden,Neither Satisfied nor Dissatisfied,5,0.012077,0.012165
16,TD Garden,Dissatisfied,2,0.004831,0.004866
17,TD Garden,Highly Dissatisfied,1,0.002415,0.002433
18,New Era Field,Highly Satisfied,13,0.031401,0.031630
19,New Era Field,Satisfied,12,0.028986,0.029197
20,New Era Field,Dissatisfied,3,0.007246,0.007299
21,New Era Field,Neither Satisfied nor Dissatisfied,3,0.007246,0.007299

In [ ]:
recommendDf = pd.read_excel(path+'Customer Insights Data.xlsx', sheet_name='Likelihood to Recommend')

recommendDf

,Location,Survey Answers,Response Count,Response Share %,% of NP Respondents
0,Bridgestone Arena,10 - Extremely likely,86,0.210145,0.209246
1,Bridgestone Arena,8,34,0.082126,0.082725
2,Bridgestone Arena,9,15,0.036232,0.036496
3,Bridgestone Arena,7,13,0.031401,0.031630
4,Bridgestone Arena,5,10,0.024155,0.024331
5,Bridgestone Arena,6,5,0.012077,0.012165
6,Bridgestone Arena,4,3,0.007246,0.007299
7,Bridgestone Arena,0 - Not at all likely,2,0.004831,0.004866
8,Bridgestone Arena,3,2,0.004831,0.004866
9,Bridgestone Arena,2,1,0.002415,0.002433
10,PETCO Park,10 - Extremely likely,27,0.065217,0.065693
11,PETCO Park,9,17,0.041063,0.041363
12,PETCO Park,8,12,0.028986,0.029197
13,PETCO Park,7,10,0.024155,0.024331
14,PETCO Park,6,7,0.016908,0.017032
15,PETCO Park,5,4,0.009662,0.009732
16,PETCO Park,4,3,0.007246,0.007299
17,PETCO Park,3,2,0.004831,0.004866
18,PETCO Park,0 - Not at all likely,1,0.002415,0.002433
19,PETCO Park,2,1,0.002415,0.002433
20,MetLife Stadium,10 - Extremely likely,42,0.106280,0.102190
21,MetLife Stadium,9,14,0.033816,0.034063
22,MetLife Stadium,8,11,0.026570,0.026764
23,MetLife Stadium,7,7,0.016908,0.017032
24,MetLife Stadium,3,1,0.002415,0.002433
25,MetLife Stadium,4,1,0.002415,0.002433
26,MetLife Stadium,5,1,0.002415,0.002433
27,MetLife Stadium,6,1,0.002415,0.002433
28,TD Garden,10 - Extremely likely,18,0.043478,0.043796
29,TD Garden,8,8,0.019324,0.019465
30,TD Garden,7,7,0.016908,0.017032
31,TD Garden,6,4,0.009662,0.009732
32,TD Garden,0 - Not at all likely,2,0.004831,0.004866
33,TD Garden,2,2,0.004831,0.004866
34,TD Garden,5,2,0.004831,0.004866
35,TD Garden,9,2,0.004831,0.004866
36,TD Garden,1,1,0.002415,0.002433
37,TD Garden,4,1,0.002415,0.002433
38,New Era Field,10 - Extremely likely,17,0.041063,0.041363
39,New Era Field,7,5,0.012077,0.012165
40,New Era Field,0 - Not at all likely,2,0.004831,0.004866
41,New Era Field,4,2,0.004831,0.004866
42,New Era Field,5,2,0.004831,0.004866
43,New Era Field,3,1,0.002415,0.002433
44,New Era Field,6,1,0.002415,0.002433
45,New Era Field,8,1,0.002415,0.002433

In [ ]:
avlOptionDf = pd.read_excel(path+'Customer Insights Data.xlsx', sheet_name='Satisfaction w Available Option')

avlOptionDf

,Location,Survey Answers,Response Count,Response Share %,% of NP Respondents
0,Bridgestone Arena,Highly Satisfied,64,0.253968,0.253968
1,Bridgestone Arena,Satisfied,30,0.119048,0.119048
2,Bridgestone Arena,Dissatisfied,5,0.019841,0.019841
3,Bridgestone Arena,Neither Satisfied nor Dissatisfied,2,0.007937,0.007937
4,MetLife Stadium,Highly Satisfied,32,0.126984,0.126984
5,MetLife Stadium,Satisfied,15,0.059524,0.059524
6,MetLife Stadium,Neither Satisfied nor Dissatisfied,6,0.023810,0.023810
7,MetLife Stadium,Dissatisfied,1,0.003968,0.003968
8,PETCO Park,Highly Satisfied,25,0.099206,0.099206
9,PETCO Park,Satisfied,23,0.091270,0.091270
10,PETCO Park,Neither Satisfied nor Dissatisfied,3,0.011905,0.011905
11,PETCO Park,Dissatisfied,1,0.003968,0.003968
12,PETCO Park,Highly Dissatisfied,1,0.003968,0.003968
13,TD Garden,Satisfied,15,0.059524,0.059524
14,TD Garden,Highly Satisfied,8,0.031746,0.031746
15,TD Garden,Neither Satisfied nor Dissatisfied,3,0.011905,0.011905
16,TD Garden,Highly Dissatisfied,1,0.003968,0.003968
17,New Era Field,Highly Satisfied,7,0.027778,0.027778
18,New Era Field,Satisfied,6,0.023810,0.023810
19,New Era Field,Dissatisfied,2,0.007937,0.007937
20,New Era Field,Highly Dissatisfied,1,0.003968,0.003968
21,New Era Field,Neither Satisfied nor Dissatisfied,1,0.003968,0.003968

In [ ]:
speedDf = pd.read_excel(path+'Customer Insights Data.xlsx', sheet_name='Satisfaction w Speed of Service')

speedDf

,Location,Survey Answers,Response Count,Response Share %,% of NP Respondents
0,Bridgestone Arena,Highly Satisfied,70,0.277778,0.277778
1,Bridgestone Arena,Satisfied,27,0.107143,0.107143
2,Bridgestone Arena,Neither Satisfied nor Dissatisfied,4,0.015873,0.015873
3,MetLife Stadium,Highly Satisfied,31,0.123016,0.123016
4,MetLife Stadium,Satisfied,17,0.067460,0.067460
5,MetLife Stadium,Neither Satisfied nor Dissatisfied,4,0.015873,0.015873
6,MetLife Stadium,Dissatisfied,1,0.003968,0.003968
7,MetLife Stadium,Highly Dissatisfied,1,0.003968,0.003968
8,PETCO Park,Satisfied,26,0.103175,0.103175
9,PETCO Park,Highly Satisfied,23,0.091270,0.091270
10,PETCO Park,Neither Satisfied nor Dissatisfied,4,0.015873,0.015873
11,TD Garden,Satisfied,17,0.067460,0.067460
12,TD Garden,Highly Satisfied,8,0.031746,0.031746
13,TD Garden,Neither Satisfied nor Dissatisfied,2,0.007937,0.007937
14,New Era Field,Highly Satisfied,9,0.035714,0.035714
15,New Era Field,Satisfied,5,0.019841,0.019841
16,New Era Field,Dissatisfied,2,0.007937,0.007937
17,New Era Field,Highly Dissatisfied,1,0.003968,0.003968